@media (min-width: 900px) {
    .hamburger {
        display: none;
    }

    .nav {
        display: block;
    }

    .nav ul {
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    .header-bar {
        gap: 2rem;
    }

    .nav a {
        padding: .6rem .75rem;
        border-radius: .35rem;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem 2rem;
    }

    main h1 {
        margin: 1.5rem 0 1.25rem;
    }
}
